In [2]:
import pandas as pd

df = pd.read_excel ('Attendance.xlsx')
print (df)

                  Timestamp       Date            Email address  Student ID  \
0   2021-03-07 15:20:11.596 2021-03-07      sr2266145@gmail.com    21013627
1   2021-03-18 18:07:59.379 2021-03-18  farinbushra60@gmail.com   180260753
2   2021-03-28 15:00:16.241 2021-03-28  farinbushra60@gnail.com   180260753
3   2021-04-03 13:10:05.314 2021-04-03  farinbushra60@gmail.com   180260753
4   2021-04-04 14:55:39.226 2021-04-04  farinbushra60@gmail.com   180260753
..                      ...        ...                      ...         ...
442 2021-04-11 15:00:05.217 2021-04-11  shanjidaoishe@gmail.com   210103665
443 2021-04-24 14:39:51.579 2021-04-24  shanjidaoishe@gmail.com   210103665
444 2021-04-25 14:48:24.610 2021-04-25  shanjidaoishe@gmail.com   210103665
445 2021-03-14 15:01:53.344 2021-03-14  hnpprodhan404@gmail.com   210103666
446 2021-04-11 15:01:09.413 2021-04-11  hnpprodhan404@gmail.com   210103666

                     Name
0           Sakib Raihan
1           Farin Bushra
2           Farin Bushra
3           Farin Bushra
4            Farin Bushra
..                    ...
442  Shanjida Hasan Ayshi
443  Shanjida Hasan Ayshi
444  Shanjida Hasan Ayshi
445      Hashem Prodhan
446       Hashem Prodhan

[447 rows x 5 columns]

In [14]:
print(df)
df = df.drop(['Timestamp'],axis = 1)

                  Timestamp       Date            Email address  Student ID  \
0   2021-03-07 15:20:11.596 2021-03-07      sr2266145@gmail.com    21013627
1   2021-03-18 18:07:59.379 2021-03-18  farinbushra60@gmail.com   180260753
2   2021-03-28 15:00:16.241 2021-03-28  farinbushra60@gnail.com   180260753
3   2021-04-03 13:10:05.314 2021-04-03  farinbushra60@gmail.com   180260753
4   2021-04-04 14:55:39.226 2021-04-04  farinbushra60@gmail.com   180260753
..                      ...        ...                      ...         ...
442 2021-04-11 15:00:05.217 2021-04-11  shanjidaoishe@gmail.com   210103665
443 2021-04-24 14:39:51.579 2021-04-24  shanjidaoishe@gmail.com   210103665
444 2021-04-25 14:48:24.610 2021-04-25  shanjidaoishe@gmail.com   210103665
445 2021-03-14 15:01:53.344 2021-03-14  hnpprodhan404@gmail.com   210103666
446 2021-04-11 15:01:09.413 2021-04-11  hnpprodhan404@gmail.com   210103666

                     Name
0           Sakib Raihan
1           Farin Bushra
2           Farin Bushra
3           Farin Bushra
4            Farin Bushra
..                    ...
442  Shanjida Hasan Ayshi
443  Shanjida Hasan Ayshi
444  Shanjida Hasan Ayshi
445      Hashem Prodhan
446       Hashem Prodhan

[447 rows x 5 columns]

In [15]:
print(df)

          Date            Email address  Student ID                  Name
0   2021-03-07      sr2266145@gmail.com    21013627         Sakib Raihan
1   2021-03-18  farinbushra60@gmail.com   180260753         Farin Bushra
2   2021-03-28  farinbushra60@gnail.com   180260753         Farin Bushra
3   2021-04-03  farinbushra60@gmail.com   180260753         Farin Bushra
4   2021-04-04  farinbushra60@gmail.com   180260753          Farin Bushra
..         ...                      ...         ...                   ...
442 2021-04-11  shanjidaoishe@gmail.com   210103665  Shanjida Hasan Ayshi
443 2021-04-24  shanjidaoishe@gmail.com   210103665  Shanjida Hasan Ayshi
444 2021-04-25  shanjidaoishe@gmail.com   210103665  Shanjida Hasan Ayshi
445 2021-03-14  hnpprodhan404@gmail.com   210103666      Hashem Prodhan
446 2021-04-11  hnpprodhan404@gmail.com   210103666       Hashem Prodhan

[447 rows x 4 columns]

In [18]:
df1 = df.duplicated()
print(df1)
for x in range(0,445):
    if(df1.iloc[1] == 'True'):
        print(x)

0      False
1      False
2      False
3      False
4      False
       ...
442    False
443    False
444    False
445    False
446    False
Length: 447, dtype: bool

In [21]:
mask = df.Date.duplicated(keep=False)
print (df[mask])

          Date            Email address  Student ID                  Name
0   2021-03-07      sr2266145@gmail.com    21013627         Sakib Raihan
1   2021-03-18  farinbushra60@gmail.com   180260753         Farin Bushra
2   2021-03-28  farinbushra60@gnail.com   180260753         Farin Bushra
3   2021-04-03  farinbushra60@gmail.com   180260753         Farin Bushra
4   2021-04-04  farinbushra60@gmail.com   180260753          Farin Bushra
..         ...                      ...         ...                   ...
442 2021-04-11  shanjidaoishe@gmail.com   210103665  Shanjida Hasan Ayshi
443 2021-04-24  shanjidaoishe@gmail.com   210103665  Shanjida Hasan Ayshi
444 2021-04-25  shanjidaoishe@gmail.com   210103665  Shanjida Hasan Ayshi
445 2021-03-14  hnpprodhan404@gmail.com   210103666      Hashem Prodhan
446 2021-04-11  hnpprodhan404@gmail.com   210103666       Hashem Prodhan

[445 rows x 4 columns]